@model ESBCommunitySite.Models.ContactInfo

@{
    ViewData["Title"] = "Contact";
    Layout = null;
}
<! DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <form asp-action="Contact" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Recipient">Recipient Name</label>
            <input asp-for="Recipient" />
        </div>
        <div>
            <label asp-for="MessageText">Message Text</label>
            <textarea asp-for="MessageText"></textarea>
        </div>
        <div>
            <label asp-for="Sender">Sender Name</label>
            <input asp-for="Sender" />
        </div>
        <button type="submit">Send</button>
    </form>
    <div>Click <a class="nav-link" asp-action="ShowMail">here to view your mailbox of sent and
        received messages</a></div>
</body>
</html>
